<footer class="text-white pt-4 pb-3">
    <div class="container">
        <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold" style="color: rgb(23, 22, 19);">Yummito</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, non similique quod voluptate dolorem natus minima ea quibusdam qui. Vero accusantium accusamus beatae dolorum iusto fuga, nisi ipsam ipsa doloribus. Et ratione voluptatum.</p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold" style="color: rgb(23, 22, 19);">PRODUCTS</h5>
                <p><a href="#" class="text-white" style="text-decoration: none;">Providers</a></p>
                <p><a href="#" class="text-white" style="text-decoration: none;">Content</a></p>
                <p><a href="#" class="text-white" style="text-decoration: none;">Team</a></p>
                <p><a href="#" class="text-white" style="text-decoration: none;">Services</a></p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold" style="color: rgb(23, 22, 19);">RESOURCES</h5>
                <p><a href="#" class="text-white" style="text-decoration: none;">Blog</a></p>
                <p><a href="#" class="text-white" style="text-decoration: none;">FAQ</a></p>
                <p><a href="#" class="text-white" style="text-decoration: none;">Support</a></p>
                <p><a href="#" class="text-white" style="text-decoration: none;">Privacy Policy</a></p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold" style="color: rgb(23, 22, 19);">CONTACT US</h5>
                <p><i class="fa fa-home mr-3"></i>  Imphal,Manipur</p>
                <p><i class="fa fa-envelope mr-3"></i> abc@gmail.com</p>
                <p><i class="fa fa-phone mr-3"></i> +91 6305548808</p>
                <p><i class="fa fa-print mr-3"></i> +01 234 567 89</p>
            </div>
        </div>
        <hr class="mb-4">
        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p>&copy; 2008-2024 Yummito™ Ltd. All rights reserved.
                    <a href="#" style="text-decoration: none;"><strong class="text-" style="color: rgb(207, 178, 108);">Yummito</strong></a>
                </p>
            </div>
            <div class="col-md-5 col-lg-4">
                </div>

        </div>       
    </div>
</footer>